P{color:black;background-color:skyblue;font-family:Lucida Calligraphy;
font-size:40;Text-Align:Left;Border-Style:Solid;
Border-color:Black;Border-Width:8;Padding-Right:5;}
body{background-color:pink;}